@charset "UTF-8";
@media screen and (max-width:767px){

}

body{
  text-align: center;
  width: auto;
  height: auto;
}
.top{
  position: relative;
  text-align: center;
  margin-top: -8%;
}
.toptext{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	
}

footer {

    display: flex;
    justify-content: center;
    background:url(../image/mainbackground.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

nav ul{
  display: flex;
  list-style: none;
  padding-inline-start:0;
  
}
nav ul li {
  padding-right: 1em;
}

nav ul li .liI{
  width: 5em;
}
