.main{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.learn_skill img{
    width: 9rem;
}



.progress-bar {
    width: 11rem;
    height: 38px;
    background-color: #dedede;
    font-weight: 600;
    font-size: .8rem;
    margin-bottom: 0.5rem;
    border-radius: 15px;
}

.progress-bar .progress {
    width: 72%;  
    /* 나타내고자 하는 퍼센트 값을 넣으면 됩니다. */
    height: 38px;
    padding: 0;
    text-align: center;
    background-color: #4F98FF;
    color: #111;
    border-radius: 15px;
}
.progress-bar2 {
    width: 11rem;
    height: 38px;
    background-color: #dedede;
    font-weight: 600;
    font-size: .8rem;
    margin-bottom: 0.5rem;
    border-radius: 15px;
}

.progress-bar2 .progress2 {
    width: 50%;  
    /* 나타내고자 하는 퍼센트 값을 넣으면 됩니다. */
    height: 38px;
    padding: 0;
    text-align: center;
    background-color: greenyellow;
    color: #111;
    border-radius: 15px;
}
.progress-bar3 {
    width: 11rem;
    height: 38px;
    background-color: #dedede;
    font-weight: 600;
    font-size: .8rem;
    margin-bottom: 0.5rem;
    border-radius: 15px;
}

.progress-bar3 .progress3 {
    width: 30%;  
    /* 나타내고자 하는 퍼센트 값을 넣으면 됩니다. */
    height: 38px;
    padding: 0;
    text-align: center;
    background-color: #992129;
    color: #111;
    border-radius: 15px;
}

.skill_explain{
    margin: 1.5rem auto;
    background-color: #dcdcd6;
    width: 80%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button_li{
    display: flex;
    justify-content: center;
    
    

}


#button_li .down{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 54%;
    background-color: #dcdcd6;
    margin-right: 2%;
    height: 4rem;
}
#button_li .demo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 24%;
    height: 4rem;
    background-color: #dcdcd6;
}


.aisyou_skills  { 
    width: 100%; overflow-x: auto; white-space: nowrap;
    -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */
}
.aisyou_skills::-webkit-scrollbar {
    display: none;
}
.aisyou_text{
    text-align: left;
    margin-inline-start: 1.5rem;
}
.as_list {
    display:inline-block;
    margin-inline-start: 0.3rem;
}

.as_img{
    width: 4rem;
}